:host {
    display: block;
    position: relative;
}

.inputCanvasArea {
    position: absolute;
    border: 1px solid black;
}

.vectorFieldSvgArea {
    position: absolute;
    border: 5px dotted darkblue;
}

.outputCanvasArea {
    position: absolute;
    border: solid black;
}

svg /deep/ {
    .text {
        stroke-width: 1;
        stroke: white;
        fill: darkblue;
        font-weight: bold;
    }
}
