:host {
    display: block;
    position: relative;
}

.optionsArea {
    display: flex;
    position: relative;   
    flex-direction: row;
    height: 30px;
    margin: 8px 0;

    .button {
        margin: auto 4px;        
        background-color: lightgray;
        border: 1px solid black;
        text-align: center;
        padding: 5px 20px;
    }

    .checkbox {
        margin: auto 8px;        
    }

    .busy-indicator {
        width: 15px;
        height: 30px;
        background-color: green;
        border: 1px solid black;
    }

    .busy-indicator--busy {
        background-color: red;
    }
}

.renderer {
    width: 1000px;
    height: 800px;
}